node_modules/
server/models/
app/*.map
app/*.js
app/router/*.map
app/router/*.js
app/controllers/*.map
app/controllers/*.js
app/controllers/front/*.map
app/controllers/front/*.js
app/controllers/backend/*.map
app/controllers/backend/*.js
app/service/*.map
app/service/*.js
server/*.map
server/*.js
server/services/*.map
server/services/*.js
server/routers/*.map
server/routers/*.js
/*.js