<div class="row clearfix">
    <div class="col col-md-12 menu_area">
        <div class="sidebarSiteArea sidebaritem0">
            <ul class="nav nav-sidebar" id="other">
                <li><a href="/">首頁</a></li>
            </ul>
            <ul class="nav nav-sidebar" id="other">
                <li><a href="/">最新消息管理</a></li>
            </ul>
            <ul class="nav nav-sidebar" id="other">
                <li><a href="/">xx管理</a></li>
            </ul>
            <ul class="nav nav-sidebar" id="other">
                <li><a href="/">首頁</a></li>
            </ul>
            <ul class="nav nav-sidebar" id="other">
                <li><a href="/">首頁</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li>
                    <a href="#" data-toggle="collapse" data-target=".weddingddl" id="weddingddl">
                        xxxxxxxxx
                        <span class="label label-default pull-right">+</span>
                    </a>
                    <ul class="weddingddl collapse">
                        <li><a href="/">首頁</a></li>
                        <li><a href="/">首頁</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav nav-sidebar">

                <li>
                    <a href="#" data-toggle="collapse" data-target=".testddl" id="testddl">
                        yyyyyyyy
                        <span class="label label-default pull-right">+</span>
                    </a>
                    <ul class="testddl collapse">
                        <li><a href="/">首頁</a></li>
                        <li><a href="/">首頁</a></li>
                        <li><a href="/">首頁</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav nav-sidebar">
                <li>
                    <a href="#" data-toggle="collapse" data-target=".bsn" id="bsn">
                        zzzzzzzzz
                        <span class="label label-default pull-right">+</span>
                    </a>
                    <ul class="bsn collapse">
                        <li><a href="/">首頁</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>